# Module 3 Calculations in Python

## Functions and Methods

Functions can be called only by its name, as it is defined independently. But methods can't be called by its name only, we need to invoke the class by a reference of that class in which it is defined, i.e. method is defined within a class and hence they are dependent on that class.

> Methods are functions that are specific to a data type. <br>
> For example, you can have an uppercase method for a string but not for an interger.

Functions can be visually distinguished by theit syntax.  
Just like in excel a function is called with `FUNCTION_NAME(INPUT)`
Methods, being associted with a class and data type are written as `INPUT.METHOD_NAME()`.  
Notce that both functions and methods have parenthesis to allow for additional arguments.

The `dir()` function returns a list of attributes and methods associated with & varible. 
It can interact with varibles of many types a classes.

Click `SHIFT` + `TAB` while the insertion point is on a function for additional information

In [1]:
a = "postmodernism" # "postmodernism" is a string
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
print(a.capitalize())
print(a.isupper())
print(a.upper())

The `capitalize` method will work on strings but not floats

In [ ]:
b = 2.2 # b is a float
#dir(b)

In [ ]:
c = [1, 2, 3] # c is a list
#dir(c)

In [5]:
z = "I love dogs"

dir(z)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Data Types

A data type is a particular kind of data item, as defined by the values it can take, the programming language used, or the operations that can be performed on it.

There are four basic data types in Python:
- Numeric: These can be integers or floats. ...
- Boolean: These are True/False values.
- String: These are text values composed of a sequence of characters.
- Sequence: These are collections of data types that can be the same or different.

## Numeric Data Types

## Int

**Int** - In Python, integers are zero, positive or negative whole numbers without a fractional part and having unlimited precision, e.g. 0, 100, -10. 
All integers or variables are objects of the int class. Use the `type()` function to get the class name, as shown below.  
The followings are valid integers in Python.

In [6]:
print(type(0))
print(type(3000))
print(type(-123456677057575))

<class 'int'>
<class 'int'>
<class 'int'>

Uncomment to check data type

In [7]:
a = 1
b = 2 + 3
c = -122323423523 - 2

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

## **Limitations**

Leading zeros in non-zero integers are not allowed e.g. 000123 is invalid number, 0000 is 0.

In [ ]:
print(type(000123))

Python does not allow comma as number delimiter. Use underscore _ as a delimiter instead.

In [ ]:
a = 123,000
type(a)

In [ ]:
a = 123_000
type(a)

Integers must be without a fractional part (decimal point).  
If it includes a fractional then it becomes a float.

In [ ]:
a = 2
b = 2.0

print(type(a))
print(type(b))

The `int()` function converts a string or float to int.

In [13]:
a = 4.0

b = int(a)
print(type(b))

<class 'int'>

[Documentation for the int() function](https://docs.python.org/3/library/functions.html)

[Full list of built in Python functions](https://docs.python.org/3/library/functions.html)

In [ ]:
print(type(2.0))
print(type(int(2.0)))

The `int()` function truncates and **does not** round floats

In [ ]:
a = int(2.2)
b = int(2.5)
c = int(2.8)

print(int(a))
print(int(b))
print(int(c))

In [14]:
a = int(round(2.2))
b = int(round(2.5))
c = int(round(3.5))
d = int(round(4.5))
e = int(round(5.5))

print(a, b, c, d, e)

2 2 4 4 6

The round functions rounds in surprising and seemingly inconmsistent ways.  
Click the link to learn more about [Floating Point Arithmetic: Issues and Limitations:](https://docs.python.org/3/tutorial/floatingpoint.html#tut-fp-issues)

# Float

**Float** - floating point numbers (float), are positive and negative real numbers with a fractional part denoted by the decimal symbol . or the scientific notation E or e, e.g. 1234.56, 3.142, -1.55, 0.23.

In [15]:
print(type(1234.56))
print(type(-32.54))
print(type(2/4))

<class 'float'>
<class 'float'>
<class 'float'>

The maximum size of a float depends on your system. The float beyond its maximum size referred as "inf", "Inf", "INFINITY", or "infinity".   
Float 2e400 will be considered as infinity for most systems.   
e means `X10**N`

In [ ]:
a = 2e400
a

Scientific notation is used as a short representation to express floats having many digits.

In [ ]:
#print(4e2)
#print(10e3)
#print(10e-1)
#print(3.4556789e2)
#print(4.2e9)

Use the `float()` function to convert an int or a string, to a float.

In [ ]:
print(float("5.5"))
print(type(float("5.5")))

In [ ]:
print(float(5))
print(type(float(5)))

# String

**String** - a collection of alphabets, words or other characters. It is one of the primitive data structures and are the building blocks for data manipulation. Python has a built-in string class named str . Python strings are "immutable" which means they cannot be changed after they are created

The followings are valid string literals in Python. 
Multi-line strings must be embed in triple quotes, as shown below.

In [ ]:
print(type('Hello everybody!'))
print(type("Hi doctor Nick!"))


#print('''Every night father fill me with dread
#         When he sits at the foot of my bed''')
#print("""I don't mind that he speaks, that he gibbers and squeaks
#         But for seventeen years he's been dead""" )

If a string literal required to embed double quotes as part of a string then, it should be put in single quotes. Likewise, if a string includes a single quote as a part of a string then, it should be written in double quotes.

In [ ]:
print('Hamlet asked "To be or not to be?" while procrastinating a homicide.')
print("Don't stop believing.")

The escape character is used to invoke an alternative implementation of the subsequent character in a sequence. In Python, backslash \ is used as an escape character. Use a backslash character followed by the character you want to insert in a string e.g. \' to include a quote, or \" to include a double quotes in a string, as shown below.

In [ ]:
print('Don\'t stop believing')

Use the `str()` function to convert a number to a string.

In [ ]:
print(5)
print(str(5))
print(type(str(5)))

Use the len() function to retrieve the length of a string, as shown below.

In [ ]:
a = "Ham Sandwich"
print(len(a))

# **Indexing Strings**

A string is a squence in python, ie an ordered collection of characters.  
The sequence uses an index, **starting with zero** to fetch a certain item (a character in case of a string) from it.  
You can index a variable using **brackets** to select any segment or slice of the string.

In [ ]:
a = "Ham Sandwich"

In [18]:
print(a[4])
print(a[4:12])
print(a[4:])
print(a[-4:])
print(a[::2])

S
Sandwich
Sandwich
wich
HmSnwc

The string is an immutable object.   
Hence, it is not possible to modify it.   
The attempt to assign different characters at a certain index results in errors.

In [ ]:
a[0] = "B"

**String Operators**  
`+` Appends the second string to the first, concat

In [ ]:
a = "Hello"
b = "World"

print(a + b)

`*` Concatenates multiple copies of the same string

In [ ]:
print(a * 3)

`is` or `==` returns true if both variables are the same object  
`is not` or `!=` returns true if both variables are not the same object

In [30]:
a = 'Ham'
b = 'Cheese'
c = 'Bread'
d = 'Ham'

print(a is a)
print(a is d)
print(a == a)
print(a is not b)
print(a is not d)
print(a != b)

# When using less-than or greather-than on strings, Python will compare the lenght of the strings
print(a<b)

# As soon as you add an equal sign (<= or >=), now you're asking Python to see if the string is equal to the other string
# (cat >= dog) will return false because cat doest not equal dog even though they have the same number of characters.

print(a >= b)

True
True
True
True
False
True
False
True

`[]` Returns the character at the given index

In [34]:
# When using inequalities to compare strings, Python will look at the first character of the strings 
# and assign it a number based off of the character's position in the alphabet.
# Python will use their alphabetical position for the string comparison. 

a = 'Ham'
b = 'Cheese'
c = 'Bread'
d = 'Ham'
e = 'Voice'

print( a > b) # It's true because 'H' is the 8th character while 'C' is the 3rd character
print( e < c) # It's false because 'V' comes later within the alphabet and has a higher position number

True
False

In [ ]:
a[0]

`in` Returns true if a character exists in the given string

In [ ]:
print("x" in a)
print("H" in a)

`not in` Returns true if a character does not exist in the given string

In [ ]:
print("x" not in a)
print("H" not in a)

In [ ]:
#a.upper(a)
#a.startswith("Delicious")
e = d.replace("Ham","Turkey")
e

#### 2.2 Indexing Operator, Square brackets []

In [ ]:
# The indexing operator (Python uses square brackets to enclose the index) 
# selects a single character from a string. The characters are accessed by their 
# position or index value. For example, in the string shown below

a = "Delicious Ham Sandwich"


#b = a[3]
#b = a[10:13]
#b = a[:13]
#b = a[10:]
b = a[:]
print(b)

**Bool** - Data composed of two built-in values `True` or `False`.  
Notice that 'T' and 'F' are capital.   
`true` and `false` are not valid booleans and Python will throw an error for them.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(5 > 3)
print(5 < 3)
print(5 == 3)
print(5 >= 3)
print(5 <= 3)
print(5 != 3)

The `bool()` function allows you to evaluate any value, and give you True or False in return,

In [ ]:
print(bool(15))
print(bool(-15))
print(bool(0))
print(bool("Ham"))
print(bool(""))

The `True` bool evaluates as one and the `False` bool evaluates to zero allowing for some weird math.

In [ ]:
print(True * 10 - False)
print(True * False + 13)

**None** is returned by functions that don't explicitly return a value.
None: The None represents the null object in Python.

In [ ]:
print(1 > None)

#### 1.0 Simple Calculations Using integers

The console acts as a simple calculator. You can create expressions as command lines and the console will return the values. Expression syntax includes the operators, numbers, and parentheses that can be used for simple grouping. Grouping numeric data types is done with parentheses ().

#### 1.1 Basic Calculations and Calculations with Variables

- Addition + 
- Subtraction -  
- Multiplication  *
- Exponent **  
- Division /  
- Floor Divison //
- Modulo Division %

In [ ]:
(2+3002)/5**3

In [ ]:
6*5*4*3*2

In [ ]:
#Defining a Variable

x=10
y=9
z=8

In [ ]:
# Addition
print ((x+y)/z+100)

In [ ]:
# Subtraction
print (x-y)

In [ ]:
# Multiplication
print (x*y)

In [ ]:
# Division, always results in float

#print (x/y)
# type(x/y)

a = 9/3
a
type(a)

In [ ]:
# Floor Division - a normal division operation except that it returns 
# the largest possible integer. 
# This integer is either less than or equal to the normal division result.
print (x//y)

In [ ]:
# Modulo Division 
# It returns the remainder of dividing the left hand operand by right hand operand. 
# It's used to get the remainder of a division problem.
#print (x%y)

print(44%2)

In [ ]:
# Exponent
print (x**y)

#### 1.2 Logic

In [ ]:
print (6 >= 5)

In [ ]:
print (5 > 4)

In [ ]:
print (6=4)

#### 1.3 Type() and Dir()

In [ ]:
# What is the data type of the output?
print (x*y/z)

In [ ]:
#type(x)
#print(type(x))

In [ ]:
 a = "Ham"

In [ ]:
type (a)

In [ ]:
b = 2 +5j

In [ ]:
type(b)
print(type(b))

In [ ]:
dir(a)

# Total Aside, but super cool so you must know

In [ ]:
import math

In [ ]:
dir(math)

In [ ]:
import pandas

In [ ]:
dir(pandas)

## Tuples

**Tuples** are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and immutable.

A sequence of data surrounded py parenthesis.

In [36]:
t = (1,3,5,6,9)
t2 = ("Ham", "Turkey", "Roast Beef")
type(t), type(t2)

(tuple, tuple)

In [ ]:
You can iterate over a tuple

In [37]:
print(t[0])
print(t2[1])

1
Turkey

You can use the `len()` function to display the number of elements in a tuple.

In [ ]:
print(len(t))
print(len(t2))

Tuples are not associated with a whole lot of methods and are pretty light on the memory.

In [ ]:
#dir(t)

## Lists

#### 3.1 Intro

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
#lst1 = ["a","b","c","d","e","f","g"]
#lst2 = [a,b,c,d,e,f,g]
#lst3 = [1,2,3,4,5,6,7]
#lst4 = [1,"b",3,"d",5,"f",7]
#lst5 = ["1","b","3","d","5","f","7"]
#lst6 = [[1,2],[3,4],[5,6,7,8]] 
#lst7 = [["a","b"],[3,4],["e","f"]]

# print(lst7)
# print(type(lst3))
# print(lst7[0])

#### 3.2 Split String

The split() method splits a string into a list. You can specify the separator, default separator is any whitespace.

In [ ]:
a = "Delicious"
b = "Ham"
c = "Sandwich"
d = a + "&" + b + "&" + c


lst = d.split("&")
lst

#### 3.3 Input String

In [ ]:
a = input()
#a = int(input())

In [ ]:
a
type(a)

# 4.0 Problems

1. Write a program that converts degrees Celcius to Degrees Fahrenheit  
Hint: (Degrees Celcius × 9/5) + 32 = Degrees Fahrenheit  
Degrees Celcius: 10

2. Combine the following strings into the quote "Do or do not. There is no try."

In [39]:
a = "is no try."
b = "Do or do not."
c = "There"

print(b,c,a)

Do or do not. There is no try.

3. Write a Python program to calculate the area of a triangle  
Hint: Area of Triangle = (Base * Height)/2  
Height : 5  
Base: 5

In [43]:
#3 Answer:

height = 5
base = 5
area_triangle = .5*base*height

print(area_triangle)

12.5

4. Write a program that adds NYC sales tax to a purchase  
Hint: NYC Sales Tax = 8.875%  
Purchase: $234

In [48]:
#4 Answer: 

subtotal = 234
tax = 8.875
total = subtotal + (subtotal * (tax / 100))

print(total)

254.76749999999998

In [ ]:
quote1 = """In '87, Huey released this, Fore, their most accomplished album. I think their undisputed masterpiece is "Hip to be Square", a song so catchy, most people probably don't listen to the lyrics. But they should, because it's not just about the pleasures of conformity, and the importance of trends, it's also a personal statement about the band itself."""

5. Using the speech above reurn only the second sentence.

In [ ]:
quote2 = "Any fool can write code that a computer can understand. Good programmers write code that humans can understand."

6. Split the above string into a list:

In [ ]:
quote3 = "Code is like humor. When you have to explain it, it’s bad."

7. Using the quote above, return every third word in the quote.